POSTGRES_DB=yogaalbano
POSTGRES_USER=yogaalbano
POSTGRES_PASSWORD=yogaalbano_password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@yogaalbano.it
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_PORT=5050
